body{
    background-color: white;
    font-family: Arial;
    display: flex;
    flex-flow: row wrap;
}

#profile{
    order: 1;
    background-color: #487345;
    width: 30%;
    height: auto;
}

#bio{
    order: 2;
    width: 70%;
    height: auto;
}

.information{
    font-size: 2em;
}

img{
    height: auto;
}

#profile_picture{
    width: 70%;
    margin-left:15%;
    margin-right:15%;
    border-radius: 50%;
}

.social_media{
    width: 5%;
}