body{
    background-color: white;
    font-family: Arial;  
}

img{
    height: auto;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr, 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right"; 
}

#profile{
    background-color: #487345;
    grid-area: left;
}

#bio{
    grid-area: right;
}

.information{
    font-size: 2em;
}

#profile_picture{
    width: 70%;
    margin-left:15%;
    margin-right:15%;
    border-radius: 50%;
}

.social_media{
    width: 5%;
}