body{
    background-color: white;
    font-family: Arial;
}
.information{
    font-size: 2em;
}

img{
    height: auto;
}

#profile_picture{
    width: 20%;
    border-radius: 50%;
}

.social_media{
    width: 5%;
}